.container_header {
  background-color: #262626;
}

.header {
  max-width: calc(100% - 200px);
  height: 60px;
  margin: 0 auto;
}

.icon svg {
  color: #ffd11a;
  width: 50px;
  height: 50px;
}

.logo_Text {
  color: #ffffff;
  margin-left: 5px;
  font-family: "Sansation", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header .nav-link {
  color: #7e7e81;
  font-family: "Sansation", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header .nav-link:hover {
  color: #ffffff;
}

header .active {
  background-color: #141414 !important;
  color: #ffffff !important;
  border: 1px solid #333333 !important;
}

header .active:hover {
  background-color: #ffd11a !important;
  color: #141414 !important;
  border: 1px solid #333333 !important;
}

header .btn {
  width: 137px !important;
}
