<%- include("partials/header.ejs") %>
<div class="blog_block">
  <h1>Explore Blogs</h1>
  <h6>
    Discover and search through a wide collection of blogs from different
    creators.
  </h6>
  <div class="number">
    300
    <span class="plus">+</span>
    <div class="info">Blogs available</div>
  </div>

  <div class="number">
    12k
    <span class="plus">+</span>
    <div class="info">Total downloads</div>
  </div>

  <div class="number">
    1k
    <span class="plus">+</span>
    <div class="info">Users online</div>
  </div>

  <button class="btn_info btn_explore btn">
    Explore
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-arrow-up-right"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0z"
      />
    </svg>
  </button>
</div>
<div class="create_block">
  <h1>Create & Share</h1>
  <h6 class="create_text">
    Write, edit, and publish your own blogs to share your ideas with the world.
  </h6>
  <button class="btn_info btn_create btn">
    Create
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-arrow-up-right"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0z"
      />
    </svg>
  </button>
</div>
<%- include("partials/footer.ejs") %>
