.container-fluid {
    background-color: #1A1A1A;}

.nav-link {
    color: #7E7E81;
}

.nav-link:hover {
    color: #FFFFFF;
}

.active {
    background-color: #141414 !important;
    color: #FFFFFF !important;
    border: 1px solid #333333 !important;
}
